= form_for @submission do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :image
    = f.file_field :image, :class => "form-group"
  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
