!!!
%html{:lang => "en"}
    %head
    // This is the head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    = csrf_meta_tags
    = stylesheet_link_tag    "application"
    %title= full_title(yield(:title))

    %body
    // header
    = render "layouts/header"

    // These <p> tags are used by devise to display messages 
    %p.notice= notice
    %p.alert= alert

    // This is the page content
    .container
        = yield

    // This is the footer
    = render "layouts/footer"
    // This is the application's JS
    = javascript_include_tag "application"